<!--
Notice how similar the new.html.erb and edit.html.erb was

The only things that were different:
1. <form> tag
2. <input type='hidden'...> in the edit.html.erb file
3. value for our submit button

we want to keep things DRY so we can use a form partial file

Think of the template as a "method" and you're passing in arguments

few things to note:
  - persisted? -> has this been saved to the data base before?
              -> every model has a .persisted?
  - menu vs. @menu -> use regular variable menu rather than instance variable @menu
                  -> don't usually pass in a a instance variable as an argument
                      for a method
-->
<!--
  action_url
      if it has been saved to the database before
          redirect them to the /menus/:menu_id URL
      else
          redirect them to /menus

  form_method
      if it has been saved to the database before
          make a PATCH request
      else
          make a POST request

  submit_text
      if it has been saved to the database before
          change the button to "Update Menu!"
      else
          change the button to "Create Menu!"
-->
<% action_url = menu.persisted? ? menu_url(@menu) : menus_url %>
<% form_method = menu.persisted? ? "PATCH" : "POST" %>
<% submit_text = menu.persisted? ? "Update Menu!" : "Create Menu!" %>

<form action="<%= action_url =%>" method="POST">

<!-- since we can't make a PATCH request, we make a hidden field -->
  <input type='hidden' name='_method' value="<% form_method %>">

  <!-- creates new text field where you can input attributes for our menu-->
  <!-- make labels for your text boxes, so users know what they're entering-->
  <label for="chefs_name">Name</label>
  <input type="text"
          name='menu[chefs_name]'
          id="chefs_name"
          value="<%= @menu.chefs_name%>">
  <br>

  <label for="menu_location">Store Location</label>
  <input type='text'
          name='menu[location]'
          id="menu_location"
          value="<%= @menu.location%>">
  <br>


  <!-- creates new submit button labled "Create your menu" -->
  <input type="submit" value = "<%= submit_text %>" >
</form>
