
<h1>Which Chef would you like to choose from today?</h1>

<div class="chefs">
  <ul>
    <% @menus.each do |m| %>
      <li>
          <a href="<%= menu_url(m)%>"><%= m.chefs_name%></a>
      </li>
    <% end %>
  </ul>
</div>
