<form action='/menus' method="POST">

  <!-- creates new text field -->
  <input type="text">

  <!-- creates new submit button labled "Create your menu" -->
  <input type="submit" value = "Create your menu!" >
</form>
